h3{
	color:black;
}
h4{
	color:black;
}
#navContainer ul li a{
	color:black;

}

.col-4of12 a img{
	width:100%;
	height:100%;

}


.glassListing .col-4of12{
	padding-right:2%;
	padding-left:2%;
}

.glassListing .col-4of12 img{
	height:100%;
	width:100%;
}


.row{
	height:100%;
}

.glassStyles{
	width: 80%;
	margin-top: 11%;
	margin-left: auto;
	margin-right: auto;
	float: right;
}

.glassListing{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	float: right;
	padding-right:5%;
	padding-left:5%;
}
#Leonards{
	background-image:url("../img/Leonard2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
}

#Leonards:hover{
	border:5px solid black;
}
