/*Fonts*/
/*HEADER FONT - Proxima Nova*/
@font-face {
    font-family: proximaNovaBlack; src: url('../fonts/ProximaNova-Bold.otf');
}

@font-face {
    font-family: proximaNovaExtraBold; src: url('../fonts/ProximaNova-Extrabold.otf');
}

@font-face {
    font-family: proximaNovaLight; src: url('../fonts/ProximaNova-Light.otf');
}

@font-face {
    font-family: proximaNovaRegular;  src: url('../fonts/ProximaNova-Regular.otf');
}

@font-face {
    font-family: proximaNovaSemiBold; src: url('../fonts/ProximaNova-Semibold.otf');
}

@font-face {
    font-family: proximaNovaCond-Regular; src: url('../fonts/ProximaNovaCond-Regular.otf');
}

@font-face {
    font-family: proximaNovaCond-SemiBold; src: url('../fonts/ProximaNova-Semibold.otf');
}
/*Font Style ends*/
html{
	height:100%;
}

body{
	overflow-x:hidden;
	margin:0;
	font-family:"proximaNovaRegular";
	font-size:1em;
	height:100%;
}

a{
	text-decoration:none;
	color:white;
}
.leftBorder{
	top:0;
	left:0;
	width:1.5%;
	height:100%;
	position:fixed;
	z-index:2;
	background:white;
}

.rightBorder{
	top:0;
	right:0;
	width:1.5%;
	height:100%;
	position:fixed;
	z-index:2;
	background:white;
}

.bottomBorder{
	bottom:0;
	left:0;
	width:100%;
	height:3%;
	position:fixed;
	z-index:1;
	background:white;
}

#logo{
	max-width: 15%;
	width: 100%;
	display: inline-block;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left:3%;
	transition:all 0.5s;
}
#logo img{
	width:100%;
	height:100%;
}

.customerInfoContainer{
	float:right;
	list-style:none;
	display:inline-block;
	width:auto;
	min-width:20%;
	padding:0;
	margin-top:5%;
	transition:all 0.5s;
}
.customerInfoContainer li{
	display:inline-block;
	padding-right:5%;
	padding-left:5%;
	font-family:"proximaNovaSemiBold";
	font-size:0.9rem;

}


#customerInfoNav{
	position:fixed;
	top:0;
	left:0;
	z-index:2;
	height:auto;
	width:100%;
	background:white;
	-webkit-box-shadow:0 2px 10px rgba(0,0,0,0.3);
	-o-box-shadow:0 2px 10px rgba(0,0,0,0.3);
	-moz-box-shadow:0 2px 10px rgba(0,0,0,0.3);
	box-shadow:0 2px 10px rgba(0,0,0,0.3);
}


/*Animated Nav*/
#fixedGlassNav.scrollStyle{
	display:inline-block;
	margin-top: 1%;
	height: auto;
	width: 20%;
	margin-left: 7%;
}

#logo.scrollStyle{
	margin-top:1%;
	margin-bottom:1%;
	transition:all 0.5s;
	float: left
}
.customerInfoContainer.scrollStyle{
	margin-top:3%;
	transition:all 0.5s;
}

/*animated nav ends*/

.background{
	width:100%;
	height:100%;
}

.background img{
	height:100%;
	width:100%;
}


#productNav{
	position:fixed;
	z-index:4;
	top:0;
	left:1%;
	display:table;
	height:100%;
}

#navContainer{
	display:table-row;
}

#navContainer ul{
	display:table-cell;
	vertical-align:middle;
	list-style:none;
}


#navContainer li{
	padding-top:2%;
	padding-bottom:2%;

}

#navContainer li:hover{
	text-decoration:underline;
	transition:all 1s;

}

#navContainer li:hover{
	text-decoration:underline;

}




.one{
	background:url(../img/illestevaBackground.jpg);
	height:1200px;
}

/***LEVONA ADDED**/
.dd-hidden {
	right: 0;
	background-color: #ffffff;
	border: solid 1px black;
	display: block;
	padding: 1em 1.25em;
	text-align: center;
	margin: 1em 1.5em 0 0;
	width:400px;
	visibility: none;
	position: absolute;
	opacity: 0;
}

.dd-hidden li{
	display:inline-block;
}

.dd-shown {
	visibility: visible;
	opacity: 1;
}

a.dd-toggle{
	color:black;
}

a.dd-toggle:active,a.dd-toggle:hover{
	text-decoration: underline;
}

.fieldset {
	background: white;
	/*border: solid 1px black;*/
	border:0 none;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	box-sizing: border-box;
	padding: 10px 30px;
	position: absolute;
	width: 300px;
	margin-top: 1em;
	right:2em;
}


input.text{
	border: 1px solid black;
	font-size: 1rem;
	font-family: montserrat;
	padding: 1em;
	margin-bottom: 1em;
	width: 100%;
}

::-webkit-input-placeholder {
   font-family: montserrat;
   font-size:1rem;
}


textarea{
	padding: 1em;
	margin-bottom: 1em;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
}


.fs-title{
	text-align: center;
	margin-bottom: 0.5em;
}

#first-fs-title{
	margin-top: 0.5em;
}

#form-comment{
 	max-width: 400px; 

}
.form-acct{
	padding: 0.5em;
	width: 80%;
	margin-bottom: 0.5em;
	margin-left: 10%;
}

.form{
	padding: 0.5em;
	width: 100%;
	margin-bottom: 1em;
}
.item{
max-width: 250px;
border-bottom:solid 1px;
display:inline-block;
margin-top:0.25em;
padding: 0.25em 0;
}


.item img{

	max-width: 50%;
}

.item>.first{
float:left;
}
.item>.second{
width:50%;
display:inline-block;
padding: 1.5em 0 0 0;
}

.item>ul{
list-style-type:none;
padding:1em;
text-align: center;
}
.item h3, .item p{
padding:0 1em;
margin: 0;
}
.item h3{
font-size: 0.8em;
}
.item p{
	font-size: 0.75em;
}

input:active,input:focus{
	outline:none;
}

#FirstSubmit{
	margin-bottom: 1em;
}

.submitButton{
	text-align: center;
	padding: 1em 2em;
	border: 1px solid black;
	font-size: 1rem;
	margin-top: 2em;
}

.submitButton:hover{
  background:black;
  color:white;
  cursor:pointer;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.removeButton{
  text-align: center;
  padding: 0.25em;
  margin-top: 0.25em;
  border: 1px solid black;
  font-size: 0.8rem;
  width: 100%;
}

.removeButton:hover{
  background:black;
  color:white;
  cursor:pointer;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}


.checkoutItem-img{
	color:black;
	display: block;
}

.checkoutItem-img img{
	width:50%;
	float:left;
}

.checkoutItem-content{
	border: 1px solid black;
	width:50%;
	display: inline-block;
	clear:both;
	color:black;
}

.checkoutButton{
	text-align: center;
	padding: 1em 2em;
	border: 1px solid black;
	font-size: 1rem;
	margin-top: 1em;
}
.checkoutButton:hover{
  background:black;
  color:white;
  cursor:pointer;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.tax{
	font-size: 1em;
	margin-bottom: 0.5em;
}
.total{
	font-size: 1.5em;
}

hr{
	position:relative;
	margin: 1em 0;
	width:100%;
}


.bottomMessage{
	text-align: center;
	margin-top: 1em;
	font-size: 0.75em;
}


/**Animation keyframes**/
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
/**TESTING TO SEE IF POSSIBLE page animation**/
.m-scene {
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  .scene_element--fadein {
    animation-name: fadeIn;
  }

  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }

  /** Reverse "exit" animations */
  &.is-exiting {
      .scene_element {
        animation-direction: alternate-reverse;
      }
  }
}
/***LEVONA ADDED END**/




/*footer Styles*/

.footer {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	/**font-family:adobe-garamond-pro,Garamond,Times,serif;**/
	line-height: 1.5;
	position: relative;
	bottom:0;
	font-size: 0.70em;
	z-index: 9;
	width: 100%;
	background: #ffffff;
	padding: 14px 24px 13px;
	display: inline-block;
	color:#000000;	
}
.footer nav ul {
	list-style: none;
	list-style-image: none;
}

.nav>ul li a {
	color: #000;
	position: relative;
	text-align: left;
	text-decoration:none;
	display: inline-block;
	white-space: nowrap;
}

.footer> ul li {
	padding: 0;
	display:block;
	padding:0;
}

.footer li {
	margin: 0 .35em;
}

.footer:after {
	clear: both;
}

#footer-menu{
	float:right;
	margin:0;
	display:inline-block;
}

#footer-menu>li {
	display: inline-block;
	padding-right:50px;
}

