/*Caslon Font*/
@font-face {
    font-family: caslonBold; src: url('../css/fonts/Adobe Caslon Pro Bold.ttf');
}

@font-face {
    font-family: caslonSemiBold; src: url('../css/fonts/Adobe Caslon Pro Semibold.ttf');
}


@font-face {
    font-family: caslonReg; src: url('../css/fonts/Adobe Caslon Pro.ttf');
}
/*Normalize Starts*/
body {
  font-family: caslonReg;

}

ul li{
  list-style:none;
}

ul{
  margin:0;
}

/*Normalize Ends*/


#topBorder{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:20px;
  background:black;
  z-index:5;
}

#leftBorder{
  position:fixed;
  top:0;
  left:0;
  width:20px;
  height:100%;
  background:black;
  z-index:5;
}

#rightBorder{
  position:fixed;
  top:0;
  right:0;
  width:20px;
  height:100%;
  background:black;
  z-index:5;
}

#btmBorder{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:20px;
  background:black;
  z-index:5;
}
/*nav items*/
nav{
  width:auto;
  height:100%;
  position:fixed;
  display:table;
  left:10%;
}

nav ul{
  display:table-cell;
  vertical-align:middle;
}

nav ul li{
  font-size: 1rem;
  font-weight:700;
  font-family: 'Inconsolata';
  letter-spacing: 5px;
  line-height: 25px;
  text-transform:Uppercase;
}

#navType:hover,
#navButtons:hover,
#navInputs:hover,
#navImages:hover
{
  cursor:pointer;
  text-decoration:underline;
}

.underlined{
  text-decoration:underline;
}

#tableContainer{
  display:table-row;
}

.container{
  width:70%;
  height:100%;
  float:right;
  margin-bottom:5%;
}



/*Type Section*/

.render{
  background:#DADADA;
}
.renderSection{
  margin-top:5%;
  margin-bottom:5%;
}

h1.title{
  font-family:caslonSemiBold;
  letter-spacing:10px;
  text-transform:uppercase;
}

h3{
  margin-top:5%;
  margin-bottom:5%;
  font-size:1.5rem;
}

h3.subHeading{
  font-family:caslonReg;
}


p.txt{
  font-family:'Inconsolata';
  width: 50%;
  line-height: 20px;

}

.typeContainer h1,
.typeContainer h3,
.typeContainer p{
  margin-top:10px;
  margin-bottom:10px;
}
/*button section*/

.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: black;
  background-color: none;
  border:1px solid black;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button:hover{
  background-color: black;
  color:white;
  cursor:hand;
}

.button.white{
  color:#E5E5E5;
  border:1px solid #E5E5E5;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button.white:hover{
  background-color:#E5E5E5 ;
  color:white;
  cursor:hand;
}

/*input section*/
#input{
  position:relative;
}

input.text{
  padding: 1% 1.7%;
  border: 1px solid black;
  font-size: 1rem;
  font-family:caslonSemiBold;
  display:block;
  margin-bottom:10px;
}
::-webkit-input-placeholder {
   font-family:caslonReg;
   font-size:1rem;
}

input:active,
input:focus{
 outline:none;
}

#submitButton{
  padding:1% 5%;
  border:1px solid black;
  font-size:1rem;
  position:absolute;
}
#submitButton:hover{
  background:black;
  color:white;
  cursor:pointer;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}


/*imagery section*/
#imagery{
  margin-top:10%;
}

.imageContainer{
  width:60%;
  height:60%;
}

.imageContainer img{
  width:100%;
  height:100%;
}



